body{
  background-color: #d7d7d7 !important;
}

.jbo-color-morado{
  color: #6748D9;
}

.jbo-color-moradoClaro{
  color: #CB62D9;
}

.job-color-gris{
  color: #777;
}

.job-color-blanco{
  color: #fff !important;
}

.job-link-decoration{
  text-decoration: none;
}

.fs-7{
  font-size: 13px;
}